streamlit>=1.36.0
python-dotenv
langchain>=0.2.10
langchain-community>=0.2.10
langchain-groq>=0.1.0
langchain-openai>=0.1.0
langchain-huggingface>=0.1.0
duckduckgo-search>=5.3.1b1
arxiv
wikipedia
youtube-transcript-api
unstructured
validators==0.28.1
huggingface-hub
pypdf
pymupdf
beautifulsoup4
pytube
sentence-transformers
pydantic
pandas
numexpr
ipykernel
